@font-face {
    font-family: 'robotobold';
    src: url('./roboto-bold-webfont.eot');
    src: url('./roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./roboto-bold-webfont.woff') format('woff'),
         url('./roboto-bold-webfont.ttf') format('truetype'),
         url('./roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotomedium';
    src: url('./roboto-medium-webfont.eot');
    src: url('./roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('./roboto-medium-webfont.woff') format('woff'),
         url('./roboto-medium-webfont.ttf') format('truetype'),
         url('./roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoregular';
    src: url('./roboto-regular-webfont.eot');
    src: url('./roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./roboto-regular-webfont.woff') format('woff'),
         url('./roboto-regular-webfont.ttf') format('truetype'),
         url('./roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}