nav {
  background-color: white;
  border-bottom: 1px solid #eee;
}

.fixed-top {
  position: fixed;
  top: -15px;
  right: 0;
  left: 0;
  z-index: 1;
}

nav>ul {
  margin-left: auto!important;
  display: flex;
  list-style: none;
}

nav li {
  display: inline;
  font-size: 1.4rem;
}

nav a {
  color: #222;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  padding-left: 1rem;
  padding-right: 1rem;
}

nav a.active {
  color: #33C3F0;
}

.icon {
  display: none;
  font-size: 3rem;
}

@media only screen and (max-width: 478px) {
  nav li {
    display: flex;
    font-size: 2rem;
  }

  .mobile-view li a {
    display: none
  }
  .responsive li a {
    display: block
  }

  .icon {
    display: block;
    float: right;
  }

  .mobile-view {
    float: left;
    margin-top: 15px;
  }
  .fixed-top {
    top: 0;
  }
}

@media only screen and (max-width: 798px) {
  nav li {
    display: flex;
    font-size: 2rem;
  }

  .mobile-view li a {
    display: none
  }
  .responsive li a {
    display: block
  }

  .icon {
    display: block;
    float: right;
  }

  .fixed-top {
    top: 0;
  }
}