/* =Hero
-------- */

.title {
  text-shadow: 0 1px 10px rgba(0, 0, 0, .7);
  text-align: center;
  font-weight: 700;
  color: white;
  font-size: 3.7rem;
}

.hero {
  padding: 0;
  min-height: 500px;
  text-align: center;
  position: relative;
/*  background-color: #d56d4d;*/
  /* layer fill content */
  color: white;
}

.hero-image {
  background: url(https://res.cloudinary.com/seekgeeks/image/upload/q_auto/v1512280207/pexels-photo-200303_dfsqvp.jpg) no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  filter: brightness(50%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hero .separator:before {
  background-color: white;
}

.partner-image {
  background: url(https://res.cloudinary.com/seekgeeks/image/upload/q_auto/v1511288425/abdullah-oguk-256739_vbnxxm.jpg) no-repeat;
  background-size: cover;
  background-position: 50%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.achievement-image {
  background: url(https://res.cloudinary.com/seekgeeks/image/upload/q_auto/v1511528228/tim-gouw-60216_hpkslc_vdujvd.jpg) no-repeat;
  background-size: cover;
  background-position: 50%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Separator */

.separator {
  position: relative;
  text-align: center;
  font-family: robotobold;
  color: #3364ad;
}

.description {
  font-family: robotomedium;
}

p {
  font-family: robotoregular;
}

.centered {
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* general styling
-------- */

section {
  padding: 6rem 0;
}

.center {
  text-align: center;
}

input {
  margin-bottom: 1.5rem!important;
}

@media only screen and (max-width: 479px) {
  .mobile-hide {
    display: none !important;
  }
  .title {
    font-size: 2.5rem;
  }
}

.button-font {
  font-size: .9em;
  font-weight: 700;
  margin: 1rem;
}


.footer {
  background-color: #222222;
  color: white;
}

.container-width {
  max-width: 800px;
}

.howitworks {
  background-color: #f4f4f4;
}

.achievement {
  background-color: #f4f4f4;
}

.forfreelancer {
  background-color: #f4f4f4;
}

.icons {
  margin-top: 5rem;
}

.service-item {
  font-size: 1.5rem;
  background-color: #00bbf5!important;
  border-color: #00bbf5!important;
  transition: all ease-in-out 0.2s;
}

.service-item:hover {
  background: #3765ab!important;
  border-color: #3765ab!important;
}

.services-box {
  margin: 0.5rem;
}

.footer {
  background-color: #222222;
  color: white;
}

.footer-item {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  margin-left: 1rem;
}

.centerFlex {
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}